<div class="card shadow m-3" style="width: 18rem;">
  <div class="card-header bg-white">
    <h2 id="employee-name">EMPL_NAME</h2>
    <h3 id="employee-name">Intern</h3>
  </div>
  <div class="card-body">
      <div class="form-control" id="something">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID: EMPL_ID</li>
          <li class="list-group-item">Email: EMPL_EMAIL</li>
          <li class="list-group-item">School: EMPL_OTHER</li>
        </ul>
      </div>
  </div>
</div>
<!--##CARDS##-->