<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="UTF-8">
  <title>My Team (Template)</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <div class="container-fluid">

    <div class="jumbotron">
      <h1 class="text-center"><span>My Team</span></h1>
      <i class="fas fa-fire-alt"></i>
      <hr>

    <div class="row">
      <!--##CARDS##-->
      
    </div>

    </div>

  </div>

    <footer class="footer">
    </footer>

</body>
</html>